<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FiFA WC 2022</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="manifest" href="manifest.json?v=2">
</head>

<body>
    <div class="conatiner"  id="app">
        <div class="match-wrap" v-for="(m, index) in matches"  :ref="m.matchtime.split('T')[0].split('-')[2]">
            <div  class="group" :class="m.group" v-if="m.group == 'A' || m.group == 'B' || m.group == 'C' || m.group == 'D' || m.group == 'E' || m.group == 'F' || m.group == 'G' || m.group == 'H' ">Group {{m.group}} </div>
            <div  class="group" :class="m.group" v-if="m.group != 'A' && m.group != 'B' && m.group != 'C' && m.group != 'D' && m.group != 'E' && m.group != 'F' && m.group != 'G' && m.group != 'H' ">{{m.group}} </div>
            <div  class="row" :class="m.group">
            
                <div class="date-col">
                    <div class="day">{{m.matchDateTime.toString().split(' ')[0]}}</div>
                    <div class="date">{{m.matchtime.split('T')[0].split('-')[2]}}</div>
                    <div class="day">{{m.matchDateTime.toString().split(' ')[1]}}</div>
                </div>
                <div class="match-col">
                    <div>{{m.team1.toUpperCase()}}</div>
                    <div class="match-time">{{m.matchtime.split('T')[1]}}</div>
                    <div>{{m.team2.toUpperCase()}}</div>
                </div>
            </div>
        </div>
       

        
    </div>
    

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>

</html>
